.productContainer{
    height: 100vh;
    padding: 4rem 4rem;
    padding-top: calc(6rem + 3rem);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.productTitle{
    font-size: 2rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 200;
}