@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;500;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --white: #ffffff;
}
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 16px;
    font-family: "Raleway";
}